:root {
  --mainContainer-color: #1F1B24;
  --contentContainer-color: #2A272F;
  --income-color: #03DAC5;
  --expense-color: #BB86FC;
  --negative-color: #df1b1b;
  --incomeBackground-color: #332940;
  --expenseBackground-color: #3B383F;
  --clothes-color: #F48FB1;
  --gifts-color: #9575CD;
  --shopping-color: #64B5F6;
  --eatingOut-color: #DCE775;
  --sports-color: #FFB74D;
  --borderRadius: 5px;
  --inputBackground: #5B5860;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 30px;
  color: #fff;
  font-weight: 600;
}

h3 {
  font-size: 22px;
  color: var(--expense-color);
  font-weight: 600;
  padding-bottom: 30px;
}

/* Main Container */
.mainContainer {
  background-color: var(--mainContainer-color);
  height: 100vh;
  padding: 20px 100px 105px;
  width: 100%;
  overflow-y: scroll;
}

.mainContainer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.mainContainer__info #balance {
  color: var(--income-color);
}

.mainContainer__info #balance .negative {
  color: var(--negative-color);
}

.mainContainer.authentication {
  padding-bottom: 0px;
}

.mainContainer.authentication .mainContainer__info {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.mainContainer.authentication .mainContainer__content {
  width: 500px;
  margin: 100px auto 0px;
}

.mainContainer__content {
  background-color: var(--contentContainer-color);
  border-radius: var(--borderRadius);
  padding: 60px 40px 50px;
}

.mainContainer__content_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainContainer__content_section.login-register {
  display: block;
  text-align: center;
}

.mainContainer__content_section.login-register .authenticationBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainer__content_section.login-register .authenticationBtns .btn {
  padding: 15px 55px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  background-color: var(--inputBackground);
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mainContainer__content_section.login-register .authenticationBtns .btn:hover {
  opacity: 0.8;
}

.mainContainer__content_section.login-register .authenticationBtns .btn.active {
  background-color: var(--income-color);
  color: #fff;
}

.mainContainer__content_section.login-register .tab_content {
  display: none;
}

.mainContainer__content_section.login-register .tab_content.active {
  display: block;
}

.mainContainer__content_section.login-register .addTransaction__form {
  max-width: 600px;
  margin: 30px auto 0px;
}

.mainContainer__content_section.login-register .btns {
  display: block;
  margin-top: 30px;
}

.mainContainer__content_section__transactions {
  width: 50%;
  margin-right: 10px;
}

.mainContainer__content_section__transactions #transactions {
  max-height: 445px;
}

.mainContainer__content_section__transactions #transactions::-webkit-scrollbar {
  display: block;
  width: 5px;
}

.mainContainer__content_section__transactions #transactions::-webkit-scrollbar-track {
  background: var(--expenseBackground-color);
}

.mainContainer__content_section__transactions #transactions::-webkit-scrollbar-thumb {
  background-color: var(--income-color);
  border-right: none;
  border-left: none;
}

.mainContainer__content_section__transactions #transactions.scroll {
  overflow-y: scroll;
}

.mainContainer__content_section__transactions #transactions .noTransactions {
  color: #fff;
}

.mainContainer__content_section__transactions #transactions ul {
  list-style-type: none;
}

.mainContainer__content_section__transactions #transactions ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  font-size: 22px;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.mainContainer__content_section__transactions #transactions ul li:last-child {
  margin-bottom: 0px;
}

.mainContainer__content_section__transactions #transactions ul li.income {
  background-color: var(--incomeBackground-color);
}

.mainContainer__content_section__transactions #transactions ul li.expense {
  background-color: var(--expenseBackground-color);
}

.mainContainer__content_section__summary {
  width: 50%;
  margin-left: 10px;
}

.mainContainer__content_section__summary .progress__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.mainContainer__content_section__summary .progress__info p {
  font-size: 16px;
  font-weight: 600;
}

.mainContainer__content_section__summary .progress__info_income {
  color: var(--income-color);
}

.mainContainer__content_section__summary .progress__info_expense {
  color: var(--expense-color);
}

.mainContainer__content_section__summary .progress__bar {
  background-color: var(--income-color);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.mainContainer__content_section__summary .progress__bar_value {
  background-color: var(--expense-color);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  height: 27px;
  width: 50%;
}

.mainContainer__content_section__summary .chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.mainContainer__content_section__summary .chart__left {
  width: 40%;
  margin-right: 20px;
}

.mainContainer__content_section__summary .chart__left p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 20px;
}

.mainContainer__content_section__summary .chart__left__income {
  color: var(--income-color);
}

.mainContainer__content_section__summary .chart__left__expense {
  color: var(--expense-color);
}

.mainContainer__content_section__summary .chart__left__list {
  list-style-type: none;
}

.mainContainer__content_section__summary .chart__left__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

.mainContainer__content_section__summary .chart__left__list__item i {
  font-size: 14px;
}

.mainContainer__content_section__summary .chart__left__list__item .item__clothes i {
  color: var(--clothes-color);
}

.mainContainer__content_section__summary .chart__left__list__item .item__gifts i {
  color: var(--gifts-color);
}

.mainContainer__content_section__summary .chart__left__list__item .item__shopping i {
  color: var(--shopping-color);
}

.mainContainer__content_section__summary .chart__left__list__item .item__eatingOut i {
  color: var(--eatingOut-color);
}

.mainContainer__content_section__summary .chart__left__list__item .item__sports i {
  color: var(--sports-color);
}

.mainContainer__content_section__summary .chart__left__list__item:last-child {
  margin-bottom: 0px;
}

.mainContainer__content_section__summary .chart__right {
  width: 60%;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.btns .btn {
  font-size: 22px;
  padding: 15px 55px;
  border: none;
  outline: none;
  border-radius: var(--borderRadius);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.btns .btn:hover {
  opacity: 0.8;
}

.btns .btn__income {
  background-color: var(--income-color);
  margin-right: 10px;
}

.btns .btn__expense {
  background-color: var(--expense-color);
  margin-left: 10px;
}

.btns .btn__save {
  background-color: var(--income-color);
  margin-right: 10px;
}

.btns .btn__cancel {
  background-color: transparent;
  border: 1px solid var(--income-color);
  margin-left: 10px;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(31, 27, 36, 0.73);
  pointer-events: none;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  z-index: 999998;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.addTransaction {
  padding: 55px 35px 75px;
  border-radius: var(--borderRadius);
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  z-index: 999999;
  background-color: var(--incomeBackground-color);
  width: 600px;
  max-width: 80%;
}

.addTransaction .btns .btn {
  width: 50%;
}

.addTransaction h3 {
  color: var(--income-color);
}

.addTransaction.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.addTransaction__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.addTransaction__form__input {
  margin-bottom: 10px;
  background-color: var(--inputBackground);
  color: #fff;
  height: 50px;
  border: none;
  outline: none;
  border-radius: var(--borderRadius);
  padding-left: 15px;
  font-size: 18px;
}

.addTransaction__form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.664);
}

.addTransaction__form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.664);
}

.addTransaction__form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.664);
}

.addTransaction__form__input::placeholder {
  color: rgba(255, 255, 255, 0.664);
}

.addTransaction__form__select {
  background-color: var(--inputBackground);
  color: #fff;
  height: 50px;
  border: none;
  outline: none;
  border-radius: var(--borderRadius);
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .mainContainer {
    padding: 40px 40px 105px;
  }
  .mainContainer__content_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContainer__content_section__transactions {
    width: 100%;
  }
  .mainContainer__content_section__summary {
    width: 100%;
    margin-top: 60px;
    margin-left: 0px;
  }
  .mainContainer__content_section__summary .chart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mainContainer__content_section__summary .chart__left {
    width: 100%;
    margin-right: 0px;
  }
  .mainContainer__content_section__summary .chart__right {
    width: 100%;
    margin-top: 60px;
    margin-left: 0px;
  }
  .btns {
    margin-top: 85px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 540px) {
  h1 {
    font-size: 25px;
  }
  .mainContainer__content {
    padding: 60px 15px 50px;
  }
  .mainContainer.authentication .mainContainer__content {
    margin: 30px auto 0px;
    width: 100%;
  }
  .mainContainer.authentication .mainContainer__content .authenticationBtns .btn {
    padding: 15px 15px;
  }
  .btns .btn {
    padding: 15px 40px;
  }
}
/*# sourceMappingURL=style.css.map */